body{
	height: 100vh;
	margin: 0;
}
.text-mes{
	margin-top: 80px;
}
.back-gradient{
	background: rgb(190, 214, 247);
	background: linear-gradient(300deg, rgba(190,214,247,1) 0%, rgba(208,252,255,1) 50%, rgba(227,242,253,1) 100%);
}
.back-gradient-market{
	background: rgb(190,214,247);
	background: linear-gradient(300deg, #e4fff0 50%, #c9f1ff 0%, #c9f1ff 100%);
}
.back-gradient-litra{
	background: rgb(205, 190, 247);
	background: linear-gradient(300deg, #bdffc7 50%, #f6f6f6 0%, #f6f6f6 100%); /*64ff83*/
}
.img-book{
	width: 70%;
	margin-bottom: 8px;
	margin-top: 8px;
}
.float-but{
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 20px;
	margin-right: 20px;
	display: block;
	z-index: 1000;
	cursor: pointer;
}
.a-none:hover{
	text-decoration: none;
	opacity: 0.59;
}
.lead::selection, p::selection, h1::selection, h4::selection, h6::selection, mark::selection, br::selection,
img::selection, ul::selection, li::selection, span::selection, a::selection, small::selection{
	background: #bdffc7; /*bdffc7*/
}
.img_brand{
	height: 70%;
	width: 70%;
	margin-bottom: 8px;
	letter-spacing: 0.1rem;
	transform: scale(1);
	transition: all 0.4s;
}
.img_brand:hover{
	transform: scale(1.09);
}
.card-mar{
	margin-bottom:20px;
}
.card-mar:hover{
	/*transform: scale(1.05);*/
	transition: all 0.6s;
}

.my-list {
	margin-left: 60px;
	padding:0;
	list-style: url("img/lens-black-18dp.svg");
}
.my-list li{
	padding:6px;
}
.my-list li:before {
	padding-right:10px;
	font-weight: bold;
	color: #aca7fb;
	transition-duration: 0.5s;
}
.my-list li:hover {
	color: #aca7fb;
}
.my-list a{
	text-decoration: none;
}
.main-color{
	background-color: #e3f2fd;
}
.hr_menu{
	border-top: 1px solid #afafaf;
}
.my-footer{
	background: #f8f9fa;
	transition: background 1.9s;
}
.my-footer:hover{
	background: #f8f9fa;
	background: linear-gradient(300deg, #e3f2fd 0%, #e3f2fd 30%, white 100%);
}
.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}
@media (min-width: 768px) {
	.navbar-container {
		position: sticky;
		top: 0;
		overflow-y: auto;
		height: 100vh;
	}
	.navbar-container .navbar {
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: nowrap;
		flex-direction: column;
		height: 100%;
	}
	.navbar-container .navbar-collapse {
		align-items: flex-start;
	}
	.navbar-container .nav {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.navbar-container .navbar-nav {
		flex-direction: column !important;
	}
}

